body {
    background-color: #f3f6f9;
}
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  .table>thead>tr>th {
    border-color: rgba(120,130,140,.065);
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #7b8997;
  }
  
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  th {
    font-family: 'Roboto';
    font-weight: 'bold';
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th {
    border-color: rgba(120,130,140,.065);
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #7b8997;
}

a {
    cursor: pointer;
}

.box {
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    background-color: #fff;
    position: relative;
    margin-bottom: 1.5rem;
    margin: 10px;
}

.box-header {
    position: relative;
    padding: 1rem;
}